body {
    padding-top: 50px;
    /* padding-top: 2.66em; */
    padding-left: 275px;
}

.navbar {
    margin: 0;
    box-shadow: 0px 0px 8px rgba(62, 41, 95, .6);
}

.navbar-inverse {
    background-color: #6F5499;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #ebdfff;
}

.sidebar {
    background-color: #f7f7f9;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 275px;
    overflow-y: auto;
    padding: 1em;
}

#content {
    background-color: #f9f9f9;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 275px;
    right: 0;
    overflow-y: scroll;
    padding: 1em 2em;
}

footer {
    padding: 1em;
}

.jumbotron {
    background-color: #6f5499;
    color: #fff;
}

.affix {
    position: relative;
}

.highlight {
    border-radius: 4px;
}

.highlight pre {
    background-color: transparent;
}
