<hr>
<footer>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <h4>{{ site.title }}</h4>
        <p>{{ site.description }}</p>
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      </div>

      <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
          {% if site.twitter %}
            <li><a href="{{ site.twitter }}">
              <i class="fa fa-twitter-square"></i> @twitter
            </a></li>
          {% endif %}
          {% if site.linkedin %}
            <li><a href="{{ site.linkedin }}">
              <i class="fa fa-linkedin-square"></i> linkedin
            </a></li>
          {% endif %}
          {% if site.facebook %}
            <li><a href="{{ site.facebook }}">
              <i class="fa fa-facebook-square"></i> facebook
            </a></li>
          {% endif %}
          {% if site.github_link %}
            <li><a href="{{ site.github_link }}">
              <i class="fa fa-github-square"></i> github
            </a></li>
          {% endif %}
        </ul>
      </div>

    </div>
  </div>

</footer>
