<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" style="padding-left: 0;">

    <form id="navbar-search" class="navbar-form navbar-left">
      <div class="form-group" style="width: 100%;">
        <input id="search" 
          class="form-control"
          ng-model="search"
          class="form-control" 
          placeholder="Search" 
          type="text">
      </div>
    </form>

    <ul class="nav navbar-nav pull-left">
      <li>
        <a href="{{ '/' | prepend: site.baseurl }}">
          Python 3 Quick Reference
        </a>
      </li>
      <li>
        <a href=""
          ng-click="view('{{ '/about/' | prepend: site.baseurl }}')">
          About
        </a>
      </li>
    </ul>

  </div>
</nav>
