<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
        Python 3 Quick Reference
      </a>
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href=""
            ng-click="view('{{ '/about/' | prepend: site.baseurl }}')">
            About
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
