{% raw %}
<div class="sidebar bs-docs-sidebar" ng-controller="SidebarController">
  <input id="search" 
    ng-model="search"
    class="form-control" 
    placeholder="Search..." 
    type="text">
  <ul class="nav bs-docs-sidenav">
    <li ng-repeat="page in pages | orderBy:'weight' | filter:search " class="{{ page.active }}">
      <a href="" 
        ng-bind-template="{{ page.title }}" 
        ng-click="view(page.url)">
      </a>
      <ul class="nav"></ul>
    </li>
  </ul>
</div>
{% endraw %}
